@page "/"

@if (_emoji is null)
{
    <MudProgressCircular Color="Color.Secondary" Style="height:5rem;width:5rem;" Indeterminate="true" />
}
else
{
    <MudTextField @bind-Value="_filter" Label="Filter" Variant="Variant.Outlined" AutoFocus="true"
                  IconSize="Size.Large" DebounceInterval="350" Adornment="Adornment.End" Clearable="true"
                  InputMode="InputMode.text" AdornmentIcon="@Icons.Material.Filled.Search"
                  AdornmentColor="Color.Secondary" Placeholder="Filter by keyword or name" Class="py-4" />

      <MudSelect T="string" Label="Versions" @bind-Value="_version" SelectAll="true" Class="pb-4"
                 @bind-SelectedValues="_versions" MultiSelection="true" Variant="Variant.Outlined">
          @foreach (var version in State.EmojiVersions)
          {
              <MudSelectItem T="string" Value="@version">
                  v@(version)
              </MudSelectItem>
          }
      </MudSelect>

    @foreach (var (group, emojiMap) in Emoji)
    {
        <MudText Typo="Typo.h5" Class="pb-4">@group (@(emojiMap.Count))</MudText>
        <MudDivider DividerType="DividerType.FullWidth" Vertical="false" Class="pb-4" />
        <MudGrid Spacing="2" Justify="Justify.Center" Class="pb-4">
            @foreach (var (name, emoji) in emojiMap)
            {
                <MudItem sm="6" lg="3" xl="2">
                    <MudPaper MaxHeight="256" MaxWidth="256" Elevation="3" Class="pa-3">
                        <MudPaper Elevation="3" Class="pa-1">
                            @{
                                var alt = $"Image of {name} emoji";
                            }
                            <MudImage Fluid="true" Src=@emoji.DefaultImage
                                      Alt="@alt" Class="rounded-lg"
                                      ObjectPosition="ObjectPosition.Center" />
                        </MudPaper>
                        <MudText Typo="Typo.body1" Align="Align.Center" Class="pt-3">@name</MudText>
                        <div class="d-flex align-content-center">
                            <MudChip Variant="Variant.Text" Color="Color.Info">
                                v@(emoji.Metadata.FromVersion)
                            </MudChip>
                            <MudSpacer />
                            <MudChip Variant="Variant.Text" Color="Color.Success" Class="align-self-end">
                                U+@(emoji.Metadata.Unicode)
                            </MudChip>
                        </div>
                    </MudPaper>
                </MudItem>
            }
            </MudGrid>
    }
}